@import url();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

body {
  background-color: rgb(54, 54, 54);
  padding: 3% 10%;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 1rem 1fr 1fr 1fr 1fr;
  gap: 1rem;

  width: 80%;
}

main div{
    padding:  5px;
    color: white;
    background-color: rgb(80, 80, 80);
}

main div img{
    width: 20px;
    height: 20px;
}

.green{
    color: rgb(0, 255, 0);
}

.red{
    color: rgb(255, 0, 0);
}


/* Escritorio extra grande */
@media only screen and (min-width: 1200px) {
}
/* / Escritorio grande / */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* / Escritorio pequeño / tablet / */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* / Tablets y phablets / */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* / Teléfonos / */
@media only screen and (max-width: 575px) {
}
