@import url();


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
}

body{
    background-color: rgb(212, 212, 212);
}
#cards{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card-1{
    width: 600px;
    height: 300px;
    background-color: rgb(147, 171, 193);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 0;
    border-radius: 10px;
}
.cover{
    width: 32%;
}
.cover img{
    width: 100%;
    margin-left: 5px;
    border-radius: 5px;
}
.data{
    width: 68%;
    height: 100%;
    padding-top: 3%;
    padding-left: 10px;
    /* border: 1px solid black; */
}



















/* Escritorio extra grande */
@media only screen and (min-width: 1200px){

}
/* / Escritorio grande / */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* / Escritorio pequeño / tablet / */
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/* / Tablets y phablets / */
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* / Teléfonos / */
@media only screen and (max-width: 575px){

}